.assembly-type-photo_gallery .container {
  max-width: 800px;
}

.gallery-text {
  margin-bottom: 2em;
}

.slider-divider {
  position: relative;
  border-bottom: 2px solid #c8c8c8;
  margin-bottom: 20px;
}

.slider-divider .slick-dots {
  position: static;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 28px;
  padding-right: 28px;
}

.slider-divider .slick-dots li button:before {
  font-size: 10px;
}

.slider-divider .slick-prev {
  left: 0;
  width: 28px;
  height: 28px;
}

.slider-divider .slick-prev:before {
  color: #666;
  content: '🡨';
  font-family: inherit;
  font-size: 28px;
}

.slider-divider .slick-next {
  right: 0;
  width: 28px;
  height: 28px;
}

.slider-divider .slick-next:before {
  color: #666;
  content: '🡪';
  font-family: inherit;
  font-size: 28px;
}

.slider-nav .slick-slide img {
  border: 2px solid transparent;
  padding: 2px;
  background: #FFF;
}

.slider-nav .slick-slide.slick-current img {
  border: 2px solid #000;
}
