{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('assembly billboard') }}>
  {% if content.field_video_background|render %}
    <div class="background">{{ content.field_video_background }}</div>
  {% endif %}
  {% if content|without('field_video_image_background')|render %}
    <div class="billboard-content">
      <div class="billboard-content-inner">
        <div class="container">
          {{ content.field_headline }}
          {% if content %}
            {{- content|without('field_video_background', 'field_headline') -}}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
