{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('assembly') }}>
  {{ title_suffix }}
  {% if content.field_title|render %}
  <div class="section-title">
    <div class="container">
      <span class="text">
        {{ content.field_title }}
      </span>
    </div>
  </div>
  {% endif %}
  <div class="container">
    {% if content %}
      {{- content|without('field_title') -}}
    {% endif %}
  </div>
</div>
