{#
/**
 * @file logo.html.twig
 * Default theme implementation to present Logo data.
 *
 * This template is used when viewing Logo pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_logo()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('logo entity') }}>

  {% if logo_link %}
  <a href="{{ logo_link }}" class="logo-link">
  {% endif %}

  {% if content %}
    {{- content|without('field_logo_link') -}}
  {% endif %}

  {% if logo_link %}
  </a>
  {% endif %}
</div>
